<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

        title Document
    body
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="sind in" src="../images/ class="img-circle" alt="Cinque Terre" width="104" height="136">
                    </a>
                        <ul class="nav navbar-nav">
                            if user
                                <li class="nav-item">Vous êtes connecté en tant que#{user.firstname} #{user.lastname}</li>
                                <li class="nav-item">
                                    <a class="text-dark.nav-link" href="/logout">déconnexion</a>
                                </li>
                            else
                                <li class="nav-item">
                                    <a class="text-dark.nav-link" href="/register">inscription</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-dark.nav-link" href="/login">Connexion</a>
                                </li>
                        </ul>
                </div>
            </div>
        </nav>

        each messages, kind in flashMessages
            <div class= "alert alert-#{kind} alert-flash">
                each message in messages
                    | #{message}
            </div>
            
        main.container

        block content